body{
    margin-right: 120px;
    margin-left: 120px;
    
}


nav{
    display: flex;
    justify-content: space-between;
    max-width: 118rem;
    margin: 0 auto;
    align-items: center;
    min-height: 6rem:
    padding: 2.6rem 0;
}

ul {
    display: flex;
    list-style: none;
    
}

li, a {
    font-family: Rubik;
    justify-content: space-between;
    padding: 8px;
    text-decoration: none;
    color: black;
    font-size: 18px;
   
}

li, a:hover {
    color: #999AE6;
}


.logo {
    cursor: pointer;
    font-family: Rubik;
    font-size: 22px;
    font-weight: bold;
    margin-right: auto; 
    align-items: end;
    margin-top: -1px;
    transform: rotate(2,3);
}

.contact-button {
    margin-left: 20px;
    font-family: Rubik;
    font-size: 18px;
    padding: 10px 20px;
    margin-top: auto;
    margin-top: 0px;
    border-radius: 8px;
    border-color: #B7B8F1;
    color: none;
    background-color: rgba(0, 0, 0, 0);
    border-width: 3px;
    box-shadow: none;
}

.contact-button:hover {
    background-color: #E3E4FF;
    border-color: #E3E4FF;

}

.container {
    display: flex;
    position: relative;
}

.homepage-img {
   max-height: 60%;
}

h1 {
    font-family: Petrona;
    font-size: 56px;
}

p {
    font-family: Rubik;
    font-size: 16px;
}

.column-1{
    margin-top: 80px;
    justify-content: first baseline;
    width: 50%;
    margin-left: auto;
}
.column-2{
    margin-top: 20px;
    justify-content: first baseline;
    width: 50%;
    margin-left: 100px;
}
.button-container{
    margin-top: 32px;
    display: flex;
}
.secondary-button-2{
    margin-left: 20px;
    font-family: Rubik;
    font-size: 18px;
    padding: 12px 20px;
    margin-top: auto;
    margin-top: 0px;
    border-radius: 8px;
    border-color: #B7B8F1;
    background-color: rgba(0, 0, 0, 0);
    border-width: 3px;
    box-shadow: none;
    display: flex;
}

.secondary-button-2:hover {
    background-color: #E3E4FF;
    border-color: #E3E4FF;

}

.primary-button{
    font-family: Rubik;
    font-size: 18px;
    padding: 12px 20px;
    margin-top: auto;
    margin-top: 0px;
    border-radius: 8px;
    border-color: #B7B8F1;
    background-color: #B7B8F1;
    border-width: 3px;
    box-shadow: none;
    display: flex;
}

.portfolio-icon{
    width: 21px;
    margin-right: 10px;
    padding: 10px, 10px;
    margin-bottom: px;
    display: flex;
}

.arrow-icon{
    width: 20px;
    margin-right: 10px;
    padding: 10px, 10px;
    display: flex;
}

.primary-button:hover {
    background-color: #E3E4FF;
    border-color: #E3E4FF;

}


.footer{
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
   
}


.logo-img{
    width: 100px;
}

.footer-column{
    align-items:center;
}

.footer-column-2{
    display: block;
    align-items: center;

}

.custom-list {
    display: block;
    align-items: baseline;
}
